@model IEnumerable<MVC.Models.Aluno>
@{
    ViewData["Title"] = "Listar Alunos";
}
<h1>Listar Alunos</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Matricula</th>
        </tr>
    </thead>
</table>